#left text{ 
  font-family: System-Bold; 
  text-anchor: start;
  font-size: 150;
  x: 2%;
  fill: white;
}

#hoursText { y: 42%; }

#minutesText { y: 85%; }

#right{ x: 55%; }

#steps{ y: 12%;}

#heartRate{ y: 33%;}

#calories{ y: 55%;}

#date{ y: 75%;}

#right text{
  x: 13%;
  y: 30;
  font-size: 30;
  font-family: System-Regular; 
  fill: white;
}

text#stepsText 
{ 
  text-length: 7;
}

text#totStepsText
{
  text-length: 4;
  font-size:20; 
  font-family: System-Light;
}

text#heartRateText{text-length: 3;}

text#caloriesText{text-length: 7;}

text#dateText{ 
  text-length: 9; 
  x: 0; 
  font-size: 28;
  font-family: System-Light;}

text#batteryText{ text-length: 4;}